# =========================
# Data
# =========================

data/

# =========================
# Jupyter
# =========================

.ipynb_checkpoints/

# =========================
# Environment / secrets
# =========================

.env
.env.*
!.env.example

# =========================
# IDEs
# =========================

.vscode/
.idea/

# =========================
# uv / Python
# =========================

# Virtual environment
.venv/

# Python bytecode / cache
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
dist/
build/
*.egg-info/